<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>Donation website &mdash; Website Donation</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Free-Template.co" />
    <link rel="shortcut icon" href="ftco-32x32.png" />

    <link
      rel="stylesheet"
      th:href="@{/resources/static/user/assets/css/custom-bs.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/resources/static/user/assets/css/jquery.fancybox.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/resources/static/user/assets/css/bootstrap-select.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/resources/static/user/assets/fonts/icomoon/style.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/resources/static/user/assets/fonts/line-icons/style.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/resources/static/user/assets/css/owl.carousel.min.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/resources/static/user/assets/css/animate.min.css}"
    />

    <!-- MAIN CSS -->
    <link
      rel="stylesheet"
      th:href="@{/resources/static/user/assets/css/style.css}"
    />

    <script th:src="@{/resources/static/user/assets/js/jquery.min.js}"></script>
    <script
      th:src="@{/resources/static/user/assets/js/bootstrap.bundle.min.js}"
    ></script>
    <script
      th:src="@{/resources/static/user/assets/js/isotope.pkgd.min.js}"
    ></script>
    <script
      th:src="@{/resources/static/user/assets/js/stickyfill.min.js}"
    ></script>
    <script
      th:src="@{/resources/static/user/assets/js/jquery.fancybox.min.js}"
    ></script>
    <script
      th:src="@{/resources/static/user/assets/js/jquery.easing.1.3.js}"
    ></script>

    <script
      th:src="@{/resources/static/user/assets/js/jquery.waypoints.min.js}"
    ></script>
    <script
      th:src="@{/resources/static/user/assets/js/jquery.animateNumber.min.js}"
    ></script>
    <script
      th:src="@{/resources/static/user/assets/js/owl.carousel.min.js}"
    ></script>
    <script
      th:src="@{/resources/static/user/assets/js/bootstrap-select.min.js}"
    ></script>
    <script th:src="@{/resources/static/user/assets/js/custom.js}"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>

  <body id="top">
    <div
      th:if="${msg}"
      class="toast"
      data-delay="1000"
      style="
        position: fixed;
        top: 100px;
        left: 40px;
        z-index: 2000;
        width: 300px;
      "
    >
      <script>
        // swal({
        //     title: 'Donate Successfully!',
        //     /* text: 'Redirecting...', */
        //     icon: 'success',
        //     timer: 3000,
        //     buttons: true,
        //     type: 'success'
        // })
      </script>
    </div>

    <div class="site-wrap">
      <!-- NAVBAR -->
      <header class="site-navbar mt-3">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="site-logo col-6">
              <a th:href="@{/}">Website Quyên Góp</a>
            </div>
            <div
              class="right-cta-menu text-right d-flex aligin-items-center col-6"
            >
              <div class="ml-auto">
                <a
                  th:href="@{/admin/}"
                  class="btn btn-primary border-width-2 d-none d-lg-inline-block"
                  ><span class="mr-2 icon-lock_outline"></span>ADMIN</a
                >
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- HOME -->
      <section
        class="section-hero overlay inner-page bg-image"
        th:style="'background-image: url('+@{/resources/static/user/assets/images/hero_1.jpg}+')'"
        id="home-section"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <h1 class="text-white font-weight-bold">
                Danh sách các đợt quyên góp
              </h1>
            </div>
          </div>
        </div>
      </section>
      <section class="site-section">
        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
              <h2 class="section-title mb-2">Các đợt quyên góp</h2>
            </div>
          </div>

          <ul class="job-listings mb-5">
            <th th:each="category : ${donations}">
              <li
                style="margin-bottom: 10px"
                class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center"
              >
                <div
                  class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4"
                >
                  <div
                    class="job-listing-position custom-width mb-3 mb-sm-0"
                    style="padding: 10px; width: 250px"
                  >
                    <h2>
                      <a
                        style="position: relative; color: black"
                        th:text="${category.name}"
                        th:href="'detailDonation/'+ ${category.id}"
                      ></a>
                    </h2>
                    <div th:switch="${category.status}">
                      <strong th:case="0">Mới tạo</strong>
                      <strong th:case="1">Đang quyên góp</strong>
                      <strong th:case="2">Đóng quyên góp</strong>
                      <strong th:case="3">Kết thúc quyên góp</strong>
                    </div>
                  </div>
                  <div
                    class="job-listing-location mb-3 mb-sm-0 custom-width w-10"
                    style="padding: 10px"
                  >
                    Ngày bắt đầu<br />
                    <strong th:text="${category.startDate}"></strong><br />
                  </div>
                  <div
                    class="job-listing-location mb-3 mb-sm-0 custom-width w-10"
                    style="padding: 10px"
                  >
                    Ngày kết thúc<br />
                    <strong th:text="${category.endDate}"></strong><br />
                  </div>
                  <div
                    class="job-listing-location mb-3 mb-sm-0 custom-width w-25"
                    style="padding: 10px"
                  >
                    <span class="icon-room"></span>
                    <span th:text="${category.organizationName}"></span><br />
                    <strong th:text="${category.phoneNumber}"></strong><br />
                  </div>
                  <div th:if="${category.status!=1}" class="col-2"></div>
                  <div
                    th:if="${category.status==1}"
                    class="job-listing-meta custom-width w-20 col-2"
                  >
                    <button
                      type="button"
                      style="width: 120px"
                      class="btn btn-primary py-2"
                      data-bs-toggle="modal"
                      th:data-bs-target="'#exampleModal'+${category.id}"
                    >
                      Quyên góp
                    </button>
                  </div>
                </div>
              </li>
              <!-- Modal -->
              <div
                class="modal fade"
                th:id="'exampleModal' + ${category.id}"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Quyên góp
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form
                      method="post"
                      th:action="@{/createDonate}"
                      action="#"
                      th:object="${userDonate}"
                    >
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-12">
                            <label for="addname" class="col-form-label"
                              >Họ tên:</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="addname"
                              name="name"
                              placeholder=""
                              required
                            />
                            <label for="addname" class="col-form-label"
                              >Số tiền quyên góp:</label
                            >
                            <input
                              type="number"
                              class="form-control"
                              placeholder=""
                              id="addname"
                              name="money"
                              required
                            />

                            <input
                              type="hidden"
                              class="form-control"
                              placeholder=""
                              id="addname"
                              name="donation.id"
                              th:value="${category.id}"
                              required
                            />

                            <label for="addname" class="col-form-label"
                              >Lời nhắn:</label
                            >
                            <textarea
                              rows="10"
                              cols="3"
                              class="form-control"
                              name="text"
                            >
                            </textarea>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Đóng
                          </button>
                          <button
                            type="submit"
                            data-toggle="modal"
                            data-target="#exampleModal"
                            class="btn btn-primary"
                          >
                            Quyên góp
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </th>
            <!--
				function detail(id) {
					window.location = "/donation/detail/" + id;
				}
			</script>-->
          </ul>
          <div class="row pagination-wrap" th:if="${totalPages > 1}">
            <ul class="pagination ml-auto">
              <li
                class="page-item"
                th:classappend="${currentPage == 1 ? 'disabled' : ''}"
              >
                <a class="page-link" th:href="@{?page=__${currentPage - 1}__}"
                  >Prev</a
                >
              </li>
              <li
                class="page-item"
                th:classappend="${currentPage == totalPages ? 'disabled' : ''}"
              >
                <a class="page-link" th:href="@{?page=__${currentPage + 1}__}"
                  >Next</a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
